* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  border: 1px solid gray;
}

.row {
  display: flex;
}

.row div {
}

.row div.hovered {
  background-color: aquamarine;
}